:root {
    --primary-color: #ff6600;
    --background-color: #f6f6ef;
    --body-color: #ffffff;
    --emphasize-color: #000000;
    --foreground-color: #828282;
    --ui-border: #f6f6ef;
    --body-font-family: Verdana, Geneva, sans-serif;
    --hn-top-text: #222222;
}

html,
body {
    background: var(--body-color);
    color: var(--foreground-color);
    font-family: var(--body-font-family);
    font-size: 10pt;
}

a {
    color: var(--hn-top-text);
    text-decoration: none;
}

.hn {
    width: 85%;
    margin: 0 auto;
    border: 1px solid var(--ui-border);
    background: var(--background-color);
}

.hn__top {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px;
    background: var(--primary-color);
    color: var(--hn-top-text);
    line-height: 13px;
}

.hn__brand {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.hn__brand-icon {
    border: 1px solid var(--body-color);
    color: var(--body-color);
    display: inline-block;
    line-height: 1;
    padding: 2px 4px;
}

.hn__nav {
    margin-right: auto;
}

.hn__list {
    margin: 0;
    padding: 10px 30px;
    list-style: decimal;
}

.hn__item {
    margin: 0 0 5px;

    & small {
        margin-left: 4px;
        font-size: 0.85em;
    }

    & p {
        margin: 2px 0 0;
        font-size: 0.7em;

        & a {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

footer {
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
    border-top: 2px solid var(--primary-color);
}

.hn__item-content {
    display: inline-table;
}

@media (max-width: 768px) {
    body {
        margin: 0;
    }

    .hn {
        width: 100%;
    }
}
