body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

aside#toc {
    width: 25%;
    border-right: 1px solid var(--divider-color);
    padding: 0.5rem;
    overflow-y: auto;
}

article {
    flex: 1;
    padding: 0.5rem;
    overflow-y: auto;
}

tutorial-steps {
    display: block;
    margin-top: var(--gap2);
}

tutorial-steps .tutorial-steps__title {
    margin: 0 0 var(--gap) 0;
    font-family: var(--title-font-family);
    font-size: 1.1rem;
}

tutorial-steps .tutorial-steps__progress {
    width: 100%;
}

tutorial-steps .tutorial-steps__controls {
    display: flex;
    justify-content: space-between;
    gap: var(--gap2);
    margin-top: var(--gap);
}

button.page-control {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    color: var(--secondary-color);
    transition: background-color var(--animation-speed);

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
