.hljs-punctuation,
.hljs-number,
.hljs-operator {
    color: var(--brand-red);
}

.hljs-title.function_,
.hljs-title.class_,
.hljs-property,
.hljs-function {
    color: var(--brand-blue);
}

.hljs-string {
    color: var(--brand-purple);
}

.hljs-variable.language_,
.hljs-keyword {
    color: var(--primary-color);
    font-weight: bold;
}

.hljs-comment {
    color: var(--brand-green);
    font-style: italic;
}
