.code-block {
    display: block;
    background-color: var(--background-darker);
    padding: var(--gap);
    border-radius: var(--bradius2);
    border: var(--bthick) solid var(--ui-border);
}

.hljs-punctuation,
.hljs-number,
.hljs-operator {
    color: var(--brand-red);
}

.hljs-title.function_,
.hljs-title.class_,
.hljs-function {
    color: var(--brand-blue);
}

.hljs-string {
    color: var(--brand-purple);
}

.hljs-variable.language_,
.hljs-keyword {
    color: var(--primary-color);
    font-weight: bold;
}

.hljs-comment {
    color: var(--brand-green);
    font-style: italic;
}
