@import url('../../variables.css');

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

#clock {
    width: 100vmin;
    height: 100vmin;
}

#face {
    width: 100%;
    height: 100%;
}

#rim {
    fill: var(--background-lighter);
}

#hour-hand,
#minute-hand,
#second-hand {
    stroke-linecap: butt;
}

#hour-hand,
#minute-hand {
    stroke: var(--secondary-color);
}

#second-hand {
    stroke: var(--primary-color);
    transition: transform 0.3s ease-out;
}

#cap {
    fill: var(--primary-color);
}

#second-group {
    transform-origin: 50% 50%;
    animation: rotate 60s linear infinite;
}

.minute-indicator {
    stroke: var(--background-darker);
}

.minute-indicator--major {
    stroke-width: 2.8;
}
